* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "B612", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 0.5rem 1rem;
  background: #006669;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
}

.btn-update {
  padding: 0.5rem 1rem;
  background: #ffbc04;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
}
.btn-delete {
  padding: 0.5rem 1rem;
  background: #ec0303;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
}

.btn-update:hover {
  background: #ff7b00;
  transition: 0.5s;
}
.btn-delete:hover {
  background: #ad0303;
  transition: 0.5s;
}

.btn-big {
  padding: 0.7rem 1.3rem;
  line-height: 1.3rem;
}

.btn-update:hover,
.btn-delete:hover {
  text-decoration: none;
}

.btn:hover {
  color: white !important;
  background: #005255;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
  font-family: "Lora", serif;
}

.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: #3a6e3a;
  border: 1px solid #3a6e3a;
  background: #bcf5bc;
}

.error {
  color: #884b4b;
  border: 1px solid #884b4b;
  background: #f5bcbc;
}

/* AUTH PAGES */

header {
  background: #01474a;
}

.admin-wrapper {
  display: flex;
  height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
  flex: 2;
  height: 100%;
  background: #234a57;
}

.admin-wrapper .left-sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  border-bottom: 1px solid #004044;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background: #004044;
}

.admin-wrapper .admin-content {
  flex: 8;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}
.admin-content .page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

/* .edit {
  color: green;
}

.delete {
  color: red;
} */

/* .publish {
  color: blue;
} */

/* .edit:hover,
.delete:hover,
.publish:hover {
  text-decoration: underline;
} */

form div {
  margin-bottom: 15px;
}

.error1 {
  color: red;
}

td.no-record {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
th.th-action {
  text-align: center;
}
