* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "B612", sans-serif;
}

.title {
  text-align: center;
  background-color: rgb(39, 36, 36);
  overflow: hidden;
  color: #fff;
}
.head a {
  text-decoration: none;
  color: #fff;
}
/* .navbar {
  overflow: hidden;
}

.menu {
  background-color: rgb(165, 24, 24);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 10px;
} */
.navigation {
  background-color: rgb(165, 24, 24);
}
.menu {
  width: 42%;
  margin: 0 auto;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li {
  float: left;
  position: relative;
}
.menu ul:after {
  content: "";
  display: block;
  clear: both;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}
.menu ul li a:hover {
  background-color: black;
}
/*drop down menu design*/
.menu ul ul li {
  float: none;
}
.menu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(165, 24, 24);
  width: 260px;
  display: none;
  z-index: 1;
}
.menu ul li:hover > ul {
  display: block;
}

/* .dropdown {
  position: relative;
}
.dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  float: left;
}
.dropdown-content a {
  display: block;
} */
/* .banner-area {
  overflow: hidden;
  background-image: url(1.jpg);
  background-size: 100%;
}*/
.canvas {
  /* overflow: visible; */
  /* background-image: url(1.jpg); */
  /* background-size: 100%; */
  height: 85vh;
  /* height: 100%; */
  text-align: center;
  position: relative;
  overflow: hidden;
}
.canvas img {
  width: 100%;
  filter: blur(8px);
}
.title1 {
  position: absolute;
  top: 18%;
  right: 17%;
  width: 64%;
}
.apointment {
  position: absolute;
  top: 65%;
  right: 43%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}
.apointment a {
  text-decoration: none;
  color: #fff;
}
/* About Area */
.about {
  /* background-color: grey; */
  overflow: hidden;
  padding: 20px;
  width: 80%;
  margin: 2% auto;
  box-shadow: 5px 5px 30px black;
}
.about .left-area {
  width: 42%;
  float: left;
  padding: 2%;
  text-align: justify;
  /* box-shadow: 5px 5px 20px red; */
}
.about .left-area .button {
  background-color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.about .left-area .button a {
  text-decoration: none;
  color: #fff;
}
.about .right-area {
  width: 42%;
  float: right;
  padding: 2%;
  /* box-shadow: 5px 5px 20px red; */
}
.about .right-area img {
  width: 100%;
  height: auto;
}
.service {
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 50px auto;
  clear: both;
}

.col33 {
  width: 31.33%;
  padding: 0 30px 30px;
  margin: 1%;
  margin-bottom: 50px;
  float: left;
  text-align: justify;
}
.col16 {
  width: 16.66%;
  padding: 0 30px 30px;
  margin-bottom: 35px;
  float: left;
  text-align: justify;
}
.col30 {
  width: 30%;
  padding: 0 30px 30px;
  margin-left: 208px;
  margin-bottom: 35px;
  float: left;
  text-align: justify;
}
.grid1 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid1 h2 {
  text-align: center;
}
.grid2 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid2 h2 {
  text-align: center;
}
.grid3 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid3 h2 {
  text-align: center;
}
.service-title h1 {
  text-align: center;
}
.service-button {
  background-color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.service-button a {
  text-decoration: none;
  color: #fff;
}

/* Footer Area */

.footer {
  background-color: rgb(39, 36, 36);
  overflow: hidden;
  color: #fff;
}
.footer-about {
  box-shadow: 5px 5px 30px black;
}
.footer-about li {
  list-style: none;
}
.footer-about li a {
  text-decoration: none;
  color: #fff;
}

.footer .contact {
  box-shadow: 5px 5px 30px black;
}
.footer .contact li {
  list-style: none;
}
.footer .contact li a {
  text-decoration: none;
  color: #fff;
}

.footer .social {
  box-shadow: 5px 5px 30px black;
}
.footer .social li {
  list-style: none;
}
.footer .social li a {
  text-decoration: none;
  color: #fff;
}

.newsletter .input {
  display: inline-block;
}
.newsletter input {
  padding: 8px;
  border: none;
}
.newsletter .search {
  display: inline-block;
  background-color: rgb(189, 31, 31);
  padding: 5px 10px;
  border-radius: 0 5px 0px 5px;
}
.newsletter .search a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.emergency {
  background: url(images/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  color: #fff;
}
.emergency .inner-content {
  padding: 50px;
  text-align: center;
}

/* register */
.btn {
  padding: 0.5rem 1rem;
  background: rgb(189, 31, 31);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
  /* font-family: "Lora", serif; */
}

.btn-big {
  padding: 0.7rem 1.3rem;
  line-height: 1.3rem;
}

.btn:hover {
  color: white;
  background: rgb(156, 17, 17);
}
.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
  font-family: "Lora", serif;
}

.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 30px black;
}

.auth-content .form-title {
  text-align: center;
}

.auth-content form div {
  margin-bottom: 10px;
}

.auth-content form p {
  text-align: left;
}

.auth-content form p a {
  text-decoration: underline;
  color: green;
  font-weight: 600;
}
/* Error Message */
/* .error {
  color: red;
} */
.error {
  color: #884b4b;
  border: 1px solid #884b4b;
  border-radius: 5px;
  background: #f5bcbc;
}

/* .error p {
  text-align: center !important;
} */
